@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    font-family: "NotoSans-Medium", "sans-serif";
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both
}

.clr:after {
    content: "";
    display: block;
    clear: both;
}

.all {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.wrap {
    clear: both;
    width: 80%;
    height: 100%;
    margin: 0 auto
}

header {
    opacity: 0;
}

.hd .gnb_lst {
    width: 100%;
    display: block;
    position: relative;
    z-index: 100;
    margin: 0 auto;
}

.hd .gnb_lst li {
    float: left;
    width: 20%;
}

.hd .gnb_lst li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5%;
    box-sizing: border-box;
    font-size: 1.2em;
    color: black;
    background-color: rgba(204, 153, 255, 0.4);
}
.hd .gnb_lst li a.on {
    background-color: darkorchid;
    color: #fff;
}
.hd .gnb_lst li:hover {
    background-color: darkorchid;
}

.hd .gnb_lst li:hover a {
    color: #fff;
}

.content {
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.content .pg {
    width: 100%;
    min-height: 979px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}

.content .pg1 {
    z-index: 99;
}

.content .pg .hide {
    display: hidden;
}

.content .pg .box {
    width: 100%;
    margin: 0 auto;
}

path {
    animation-duration: 3.5s;
}

.txt01,
.txt02,
.txt04,
.txt05,
.txt06,
.txt07 {
    stroke-width: 10;
    animation-name: txt;
    stroke-dasharray: 700;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: rgb(255, 63, 229);
    fill: rgb(255, 63, 229);
}

.txt01 {
    stroke: blueviolet;
    fill: blueviolet;
}

@keyframes txt {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 700;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

.txt03,
.txt09 {
    stroke-width: 10;
    animation-name: txt03;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: rgb(255, 63, 229);
    fill: rgb(255, 63, 229);
}

.txt03 {
    fill: none;
}

@keyframes txt03 {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 1000;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}

.txt08 {
    stroke-width: 10;
    animation-name: txt04;
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: blueviolet;
    fill: blueviolet;
}

@keyframes txt04 {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 1500;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}

.pg2 .tit {
    margin-top: 5%;
    font-size: 40px;
    line-height: 3.0;
}

.pg2 .box {
    width: 90%; margin: 0 auto;
}
.pg2 .box li { float:left;}
.pg2 .box .ap {  display: block; width: 500px; height: 500px;  }
.pg2 .box .con { width : calc(100% - 500px); box-sizing: border-box;  }
.pg2 .box .con  .info { width: 100%; margin-left: 20%; }
.pg2 .box .con .info li { width: 100%; line-height: 2.7; font-size: 25px; }
.pg2 .box .con .info li.info3 .mail { color:#000;  position:relative; padding-left: 1%; }
.pg2 .box .con .info li.info3 .mail:before { content:"kbo6924@naver.com"; padding-right: 1%; }
.pg2 .box .con .info li.info3 .mail:after { content:"메일보내기"; display: block; top: 0; right: -40%; position:absolute; font-size: 18px; opacity: 0; visibility: hidden; transition: 0.6s; animation-name: ani1; animation-duration:1.5s; animation-iteration-count: infinite;}
@keyframes ani1 { 
    0% { 
        transform:rotateY(-90deg);
    }
    100%{ 
        transform:rotateY(90deg);
    }
}
.pg2 .box .con .info li.info3 .mail:hover::before { text-decoration: underline; color: darkorchid;}
.pg2 .box .con .info li.info3 .mail:hover::after { opacity: 1; visibility:visible;  }
.pg2 .box .con .info li.info4 .tit { margin: 0; font-size: 25px;
   
}
#daumRoughmapContainer1618794393070 {
    border-radius: 3px;
    overflow: hidden;
    margin: 0 4% ;
    background: transparent;
    width: 50%;
}