@charset "utf-8";

.content { width: 100%;  height: 100vh;  }
.content .pg { width: 100%; min-height: 979px; position:relative; padding-top:4.5%; overflow: hidden;  box-sizing: border-box; }
.content .pg1 h1 { width: 100%; line-height: 770px; font-size: 100px; text-align: center; margin-top: 100%; display: none; color:#cd1389; }
.content .pg1 .ani_box { width: 100%; height:100px; clear: both; display: none; }
.content .pg1 .ani_box .ani_inner { width: 10%;  height: 100%; margin: 0 auto; position: relative;}
.content .pg1 .ani_con { position: absolute; bottom: 25%; left: 50%; z-index: 90; width: 50%; height:100%;  margin-left: -2.5%; border:3px solid #ebd6ff; border-radius: 200px; animation-name: inner1; animation-iteration-count: infinite; animation-duration: 1.5s; animation-timing-function: ease-in-out; }
.content .pg1 .ani_con:hover { animation-play-state: paused; }

@keyframes inner1 { 
    0% { 
        transform: translateY(0)
    }
    50% { transform: translateY(20%)
    }
    100% { transform: translateY(0)     
    }
}

.content .pg1 .ani_con .ani_inner2 { width: 100%; height: 100% ; position: relative; overflow: hidden; }
.content .pg1 .ani_con .ani_inner2 span { position: absolute; display: block ;  }
.content .pg1 .ani_con .ani_inner2:hover span { animation-play-state: paused; }
.content .pg1 .ani_con .ani_inner2 span.long { width: 10%; height: 50%; background-color: #ebd6ff; left: 50%; top: 15%; border-radius: 5px; margin-left: -5%; animation-name: inner2; animation-duration: 3s; animation-iteration-count: infinite;animation-timing-function: linear; }

.content .pg1 .ani_con .ani_inner2 span.circle { width: 10%; height: 10%; background-color: #ebd6ff; border-radius: 5px; left: 50%; bottom: 15%; margin-left: -5%; animation-name: inner3; animation-duration: 4s; animation-iteration-count: infinite;  animation-timing-function: linear; }

@keyframes inner2 { 
    0% { 
        height:0%; 
    }
    25% {  height:12.5%;
    }
    50% { height:25%; 
        
    }
    75% { height:37.5%;
    }
    100% { height:50%;  background-color: darkorchid;
    }
}


@keyframes inner3 { 
    0% { 
         transform: scale(0.2)
    }
    25% { transform: scale(1)
    }
    50% { transform: scale(0.2) 
    }
    75% {transform: scale(1)
    }
    100% { transform: scale(0.2); background-color: darkorchid;
    }
}

/* 포트폴리오: 페이지2 */

.pg2 h1.tit {  line-height: 2.0; font-size: 40px; background-color:  rgba(122,5,199,0.5); box-sizing: border-box; padding-left: 8%; margin-top: 1.5%; color: #eee; font-weight: 400; }
/*left_box*/
.pg2 .left_box { width: 20%; float:left;}
.pg2 .project_img { width: 100%; margin-top: 20% }
.pg2 .project_img li { width: 100%; margin: 3% 0 ; position:relative; }
.pg2 .project_img li a, .pg2 .project_img li .plus { display: block; width: 100%; height: 160px; }

/*.pg2 .project_img li .plus { position:absolute; left: 0; top: 0; }
.pg2 .project_img li.it plus { background-image: url("") }*/
.pop { width: 100%; height:100%; background-color: rgba(204,153,255,0.4);  position:fixed; left: 0; top: 0;  display: none; z-index: 100; }



/*right_box*/
.pg2 .right_box { width: 80%;  float: left;  box-sizing: border-box; padding-top: 4%; padding-left: 5%; }
.pg2 .right_box .project_dsc { padding-bottom: 5%; }
.pg2 .right_box .project_dsc h2.tit { font-size: 25px; line-height: 3.0 }
.pg2 .right_box .project_dsc p.com { font-size: 22px; word-break: break-all; letter-spacing: 5px; line-height: 1.6 }

.pg2 .right_box .text_box .git_ico { display: block; width: 5%; height:auto;  float: left;  margin-right:2% }
.pg2 .right_box .text_box a.git_add { display: block; line-height: 3.0; font-size: 25px; color: #000 }
.pg2 .right_box .text_box a.git_add:hover { color: #6600cc; }


