@charset "utf-8";
.skill { width: 100vw; height: 100vh; margin-top: 4.1em; clear:both; margin-top: 0;}
section.pg { width: 100%; height: auto; }
.box { float: left ; width:100%; position: relative;  }
.box .svg { width: 85%; margin: 0 auto; padding-top: 8%; }
.box .svg .svg_fr { width:90%;  margin: 0 auto;  }
.box .svg .svg_fr .svg_lst  { width:300px; height:250px; float:left; position: relative;   text-align: center; margin: 0 2%; }
.box .svg .svg_fr .svg_lst .wrap { width: 230px; height: 230px; position:absolute; top: 0;left: 0;  transform: rotate(-90deg);}
.box .svg .svg_fr .svg_lst .hover_box { position:absolute ; left: 50%;}

.box .svg .svg_fr .svg_lst h2.tit { position: absolute; top: 8%; left: 0; font-size: 20px; z-index: 80; }
.box .svg .svg_fr .svg_lst h2.tit .space { padding:0 30% }

/* 마지막 선의 위치(offset값)과 100%의 선의 위치가 같아야 됨 */
 #cir1{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
@keyframes cir1 { 
    0% { stroke-dashoffset:628 }
   100% { stroke-dashoffset:100}
}

#cir2{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
@keyframes cir2 { 
    0% { stroke-dashoffset:628 }
   100% { stroke-dashoffset:100 }
}

#cir3{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
@keyframes cir2 { 
    0% { stroke-dashoffset:628 }
   100% { stroke-dashoffset:100 }
}

#cir4{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
@keyframes cir2 { 
    0% { stroke-dashoffset:628 }
   100% { stroke-dashoffset:100 }
}
   #cir5{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
   @keyframes cir1 { 
       0% { stroke-dashoffset:628 }
      100% { stroke-dashoffset:100}
   }
   
   #cir6{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
   @keyframes cir2 { 
       0% { stroke-dashoffset:628 }
      100% { stroke-dashoffset:100 }
   }
   
   #cir7{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
   @keyframes cir2 { 
       0% { stroke-dashoffset:628 }
      100% { stroke-dashoffset:100 }
   }
   
   #cir8{ animation-name:cir1; animation-duration:7s; stroke-dasharray:628; stroke-dashoffset: 100; }
   @keyframes cir2 { 
       0% { stroke-dashoffset:628 }
      100% { stroke-dashoffset:100 }
   }

/*hover_box*/
.hover_box, .hover_box1 { width: 15%; height:auto; position:absolute; ;background-color: #ebd6ff; border:5px solid rgba(0,0,0,0.2); z-index: 99;}
.hover_box { top:20%; }
.hover_box1 { top:70% }

#hover1,#hover5 { left: 26%;}
#hover2,#hover6  { left: 45%;}
#hover3,#hover7 { left: 64%; }
#hover4,#hover8 { left: 82%;}

.hover .com li { line-height: 2.0;}
